body {
    font-family: Arial, sans-serif;
    background-color: #618264;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#returnMain {
    position: absolute;
    top: 40px;
    left: 20px;
    background-color: #79AC78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8em;
}

#returnMain:hover {
    background-color: #3A4D39;
}

.calendar {
    width: 90%;
    background-color: #3A4D39;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

.month {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.weekdays div, .days div {
    width: 100%;
    padding: 2px;
    text-align: center;
    font-size: 2.2em;
}

.days div {
    height: 100px;
    background-color: #79AC78;
    border-radius: 0px;
    position: relative;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #B0D9B1;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.close {
    color: #618264;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    color: #3A4D39;
    text-align: center;
}

#taskInput {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #618264;
    font-size: 2.2em;
}
#markAllCompleteBtn, #deleteAllBtn{
    font-size: 1.8em;
}
#addTaskBtn {
    background-color: #79AC78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8em;
    display: block;
    margin: 10px auto 0;
}

#addTaskBtn:hover {
    background-color: #618264;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #79AC78;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 2em;
}

.task.complete {
    text-decoration: line-through;
    background-color: #618264;
}

.task-buttons {
    display: flex;
    gap: 5px;
}

button {
    background-color: #618264;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

button.complete {
    background-color: #618264;
    font-size: 0.8em;
}

button.delete {
    background-color: #618264;
    font-size: 0.8em;
}

button:hover {
    opacity: 0.8;
}

#prevMonth, #nextMonth {
    background-color: #79AC78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

#prevMonth:hover, #nextMonth:hover {
    background-color: #618264;
}

//media query for different screen sizes
@media (max-width: 768px) {
    .calendar {
        width: 80%;
    }
    
    .weekdays div, .days div {
        font-size: 1.5em; /* Adjusted font size for smaller screens */
    }
    
    .modal-content {
        width: 100%;
        margin: 10% auto;
    }
    
    #taskInput {
        font-size: 1.5em; /* Adjusted font size for smaller screens */
    }
    
    #addTaskBtn {
        font-size: 0.8em; /* Adjusted font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .calendar {
        width: 95%;
    }

    .weekdays div, .days div {
        font-size: 1.5em; /* Adjusted font size for smaller screens */
    }

    .modal-content {
        width: 100%;
        margin: 10% auto;
    }

    #taskInput {
        font-size: 1.5em; /* Adjusted font size for smaller screens */
    }

    #addTaskBtn {
        font-size: 0.8em; /* Adjusted font size for smaller screens */
    }
}

@media (min-width: 1200px) {
    .calendar {
        width: 80%;
    }

    .weekdays div, .days div {
        font-size: 2.5em; /* Larger font size for larger screens */
    }

    .modal-content {
        max-width: 1000px; /* Increased max-width for larger screens */
    }

    #taskInput {
        font-size: 2.5em; /* Larger font size for larger screens */
    }

    #addTaskBtn {
        font-size: 1.2em; /* Larger font size for larger screens */
    }
}
