body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.container {
  margin-left: 20px;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 10px;
  color:rgb(10, 104, 71);
}

.day-header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
/* weekDay Header Color */
.day-header.monday,.day-header.friday { 
  background-color: rgb(216, 239, 211); 
}
.day-header.tuesday,.day-header.saturday { 
  background-color: rgb(149, 210, 179); 
}
.day-header.wednesday,.day-header.sunday { 
  background-color:rgb(85, 173, 155); 
}
.day-header.thursday { 
  background-color: rgb(241, 248, 232); 
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.task-input {
  width: 80%;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}
h1{
  text-align: center;
  color:white
}
.task-list {
  margin-top: 10px; 
  font-size: 15px;
  padding-left: 10%;
}
.delete-button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
#clearAllTasks {
  background-color: rgb(85, 173, 155);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5%;
  border-radius: 5px;
}
.top {
  background-color:rgb(85, 173, 155);
  overflow: hidden;
  text-align: center;
  width: 100%; 
}
.top a {
  font-size: 25px;
}
#addAllTasks {
  background-color: rgb(149, 210, 179);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5%;
  border-radius: 5px;
}
.month {
  margin-top: 20px;
}

.task-input {
  margin-top: 5px;
  width: 100%;
}
.move {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#prevMonth {
  margin-left: 20px;
  background-color: rgb(85, 173, 155);
  color: #fff;
  border: none;
  font-size: large;
  padding: 8px 20px;
  border-radius: 5px;
}
#goToMonthButton{
  margin: 5px;
  padding: 5px 5px;
  font-size: large;
  width: 200px; 
  text-align: center;
  border-radius: 5px;
  background-color: rgb(172, 225, 175);
  color:white;
  border:none;
}
#goToMonthInput{
  padding: 5px 5px;
  font-size: large;
  width: 200px; 
  text-align: center;
  border-radius: 5px;
  background-color: rgb(224, 251, 226);
  border:none;
}
#nextMonth {
  margin-right: 20px;
  background-color: rgb(85, 173, 155);
  color: #fff;
  border: none;
  font-size: large;
  padding: 8px 20px;
  border-radius: 5px;
}
.navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.navigate a {
  text-decoration: none;
  font-size: large;
  padding: 8px 20px;
  margin-bottom: 10px;
  background-color: rgb(85, 173, 155);
  color: #fff; 
  border-radius: 5px;
}
